* {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* cursor: none; */
}

#cursor {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(190, 180, 180);
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.5;
    z-index: 100;
    /* box-shadow: 0 0 5px rgb(123, 123, 123); */
    transition-duration: 0.08s;
    transition-timing-function: ease-out;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

#cursor2 {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(248, 124, 124);
    position: absolute;
    transition-timing-function: ease-out;
    pointer-events: none;
    /* transform: translate(-20%, -60%); */
    transform: translate(-50%, -50%);
    z-index: 100;
    /* box-shadow: 0 0 5px rgb(255, 135, 135); */
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.shrink-crs {
    animation: cursorAnim .5s forwards;
}

@keyframes cursorAnim {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(.5);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.shrink-crs2 {
    animation: cursorAnim .5s forwards;
}

@keyframes cursorAnim2 {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(0.5);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}


body {
    /* background-color: rgb(230, 230, 210); */
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(255, 254, 244); */
    
    color: rgb(111, 111, 111);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
}

.navigation {
    display: flex;
}

.logo {
    margin-top: 1rem;
    margin-left: 1rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: var(--gap, 3rem);
    padding: 1rem;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.2rem;
}

.menu a {
    text-decoration: none;
    color: rgb(111, 111, 111);
}

.menu li {
    transition: box-shadow 300ms ease, transform 300ms cubic-bezier(.567, -.379, .433, 1.317);
}

.menu li:hover {
    transform: scale(1.1);
}

.resume-box {
    border: 2px solid rgb(111, 111, 111);
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    transition: box-shadow 300ms ease, transform 300ms cubic-bezier(.567, -.379, .433, 1.317);
}

.resume-box:hover {
    transform: scale(1.1);
}

/* Underline below navigation item */
a.active{
    border-bottom:2px solid rgb(209, 24, 24);
    padding-left: 15px;
    padding-right: 11px;
    padding-bottom: 0.32rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* make complete circle around active menus */
/* a.active:hover {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding: 0.45rem;
    border-bottom:0px solid rgb(209, 24, 24);
    border: 2px solid rgb(209, 24, 24);
    border-radius: 2rem;
    transition-duration: 0.1s;
} */

/* .active {
    font-weight: 600;
} */

.greetings-container {
    display: flex;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-top: 3rem;
    /* margin-bottom: 10rem; */
}

.greetings-container h1 {
    font-family: 'Quantico', sans-serif;
    font-size: 4rem;
    letter-spacing: 0.25rem;
    font-weight: 400;
}

.name-span {
    color: rgb(229, 118, 118);
    font-size: 5rem;
}

.brief-details {
    display: block;
    /* font-family: 'Josefin Slab', serif; */
    font-family: 'Lato', sans-serif;
    color: #000;
    /* font-weight: 00; */
    font-weight: 300;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}

.brief-details a {
    text-decoration: none;
    color: rgb(229, 118, 118);
    font-weight: 300;
}

.university-name:hover {
    /* font-size: 2rem;
    transition: 0.2s; */
    color: rgb(120, 164, 234);
}

.project-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
}

.btn {
    margin-bottom: 0rem;
    border-radius: 50px 50px 50px 50px;
    border: 0.1px solid rgb(156, 150, 150);
    padding: 0.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(229, 118, 118);
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    box-shadow: 0 0 10px 0 rgba(113, 110, 110, 0.5);
    transition: box-shadow 200ms ease, transform 200ms cubic-bezier(.567, -.379, .433, 1.317);
}

.btn:hover {
    transform: scale(1.1);
    border: 0px;
    box-shadow: rgb(211, 211, 211) 0px 0px 20px 1px;
    cursor: pointer;
}

.project{
    margin: 2rem;
}

.project-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 9px;
    transition: box-shadow 300ms ease, transform 300ms cubic-bezier(.567, -.379, .433, 1.317);
}

.description-card {
    border: 10px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color: #DBE7F1;
    width: 30%;
    height: auto;
}

.description{
    padding: 30px;    
    list-style: none;
}

.description h3{
    /* font-family: 'Quantico', sans-serif; */
    font-family: Lato, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    font-weight: 600;
    color: rgb(71, 70, 70);
    margin-top: 60%;
}

.description p{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
    font-weight: 300;
    color: rgb(71, 70, 70);
    margin-top: 2rem;
}


.description a{
    text-decoration: none;
    color: rgb(71, 70, 70);
    font-weight: 500;
    width: 50%;
}

.description a:hover{
    color: rgb(229, 118, 118);
}

.btns{
    margin-top: 5rem;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    color: rgb(71, 70, 70);
}

.chkout-btn{
    border: 1px solid rgb(71, 70, 70);
    border-radius: 50px 50px 50px 50px;
    padding: 0.6rem;
    width: 100%;
    text-align: center;
}

.github-btn{
    border: 1px solid rgb(71, 70, 70);
    border-radius: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    margin-top: 1rem;
}

.mockup-card{
    padding: 0px;
    border: 10px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: #E8EFF5;
    width: 70%;
    height: auto;
}

.mockup-card img {
    width: 100%;
    height: 100%;
}

.project-container:hover {
    transform: scale(1.005);
    box-shadow: 0px 0px 30px 10px rgb(210, 205, 205);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width:1300px){
    .description-card{
        width: 40%;
        height: auto;
    }

    .mockup-card{
        width: 60%;
    }

    .btns{
        font-size: 0.9rem;
        width: 250px;
    }

    .chkout-btn{
        border: 1px solid rgb(71, 70, 70);
        width: 100%;
    }

    .github-btn{
        border: 1px solid rgb(71, 70, 70);
    }
}

@media screen and (max-width: 768px) {
    .top-nav {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .logo svg {
        width: 80%;
        height: 80%;
    }

    .menu {
        gap: var(--gap, 1rem);
        font-size: 0.8rem;
        padding: 0rem;
    }

    .greetings-container h1 {
        font-family: 'Quantico', sans-serif;
        font-size: 1.5rem;
        letter-spacing: 0.25rem;
        font-weight: 200;
    }

    .name-span {
        font-size:2rem;
    }

    .brief-details {
        font-size: 1.3rem;
        font-weight: 200;
        letter-spacing: 0.1rem;
    }

    .project-btn-container {
        display: none;
    }


    .project-container {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .description-card{
        border-top-right-radius: 9px;
        border-top-left-radius: 9px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        width: auto;
        height: auto;
    }

    .description{
        padding: 15px;    
        text-align: center;
    }

    .description h3{
        /* font-family: 'Quantico', sans-serif; */
        font-family: Lato, sans-serif;
        font-size: 1.3rem;
        letter-spacing: 0.25rem;
        font-weight: 600;
        color: rgb(71, 70, 70);
        margin-top: 0%;
    }

    .description p{
        font-family: 'Lato', sans-serif;
        font-size: 0.9rem;
        letter-spacing: 0.25rem;
        font-weight: 300;
        color: rgb(71, 70, 70);
        margin-top: 1rem;
    }

    .description a{
        text-decoration: none;
        color: rgb(71, 70, 70);
        font-weight: 500;
        width: auto;
    }

    .btns{
        margin-top: 0rem;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        color: rgb(71, 70, 70);
        width: auto;
    }
    
    .chkout-btn{
        margin-top: 0rem;
        border: 0px;
        text-align: center;
        width: 100%;
    }
    
    .github-btn{
        margin-top: 0rem;
        border: 0px ;
        padding: 0.3rem;
    }

    .btns i{
        display: none;
    }
    .mockup-card{
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        display: none;
    }

    .menu {
        gap: var(--gap, 1rem);
        font-size: 0.6rem;
        display: flex;
        justify-content: space-between;
    }
}